#header{background-image: linear-gradient(aqua,white);font-size: 30px;text-align: right;}
#saldo{font-weight: bolder;font-size: larger;}
.list-group{font-weight: bolder;}
#coluna1{font-weight: bolder;color: blue;}
#coluna2{font-weight: bolder;color: blue;}
#texto1{font-weight: bolder;font-size: larger;}
#texto2{font-weight: bolder;font-size: larger;}
